<div class="row">
    <div class="col-md-8 offset-md-2 bg-light rounded-3 p-5">
        <form method="POST" action="/admin/submitpost">
            <input type="text" class="form-control" placeholder="Title" name="title" />
            <br />
            <textarea name="content" placeholder="What's on your mind?" class="form-control" rows="20"></textarea>
            <br />
            <button class="btn btn-primary">Submit Post!</button>
        </form>
    </div>
</div>